In [1]:
import pandas as pd

In [2]:
data = [10,20,30,40,50]
data

[10, 20, 30, 40, 50]

In [4]:
myfirstseries = pd.Series (data)
myfirstseries

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [6]:
data = ['apple','orange','mango','banana','grapes']
data

['apple', 'orange', 'mango', 'banana', 'grapes']

In [7]:
mysecondseries = pd.Series (data)
mysecondseries

0     apple
1    orange
2     mango
3    banana
4    grapes
dtype: object

In [8]:
data = [300, 200, 100, 50, 10]
index = ['Johor', 'Kedah', 'Kelantan', 'Melaka', 'Pahang']
mypopulationseries = pd.Series(data, index)
mypopulationseries

Johor       300
Kedah       200
Kelantan    100
Melaka       50
Pahang       10
dtype: int64

In [10]:
data = {
    'Johor': 300,
    'Kedah': 200,
    'Kelantan': 100,
    'Melaka': 50,
    'Pahang': 10
}
mypopulationseries = pd.Series(data)
mypopulationseries

Johor       300
Kedah       200
Kelantan    100
Melaka       50
Pahang       10
dtype: int64

In [12]:
# creating series using dictionary

data = {
    'Johor': 300,
    'Kedah': 200,
    'Kelantan': 100,
    'Melaka': 50,
    'Pahang': 10
}
index = ['Kedah', 'Kelantan']
mypopulationseries = pd.Series(data, index)
mypopulationseries

Kedah       200
Kelantan    100
dtype: int64

### Selection and Indexing

In [13]:
mysecondseries

0     apple
1    orange
2     mango
3    banana
4    grapes
dtype: object

In [14]:
# can treat like numpy array

mysecondseries [0:3]

0     apple
1    orange
2     mango
dtype: object

In [15]:
mysecondseries [::2]

0     apple
2     mango
4    grapes
dtype: object

In [20]:
data = {
    'Johor': 300,
    'Kedah': 200,
    'Kelantan': 100,
    'Melaka': 50,
    'Pahang': 10
}
mypopulationseries = pd.Series(data)
mypopulationseries

Johor       300
Kedah       200
Kelantan    100
Melaka       50
Pahang       10
dtype: int64

In [23]:
mypopulationseries[['Johor','Kedah']]

Johor    300
Kedah    200
dtype: int64

In [24]:
mysecondseries [[0,2,4]]

0     apple
2     mango
4    grapes
dtype: object

In [26]:
# loc used to pull out rows in a series

mysecondseries.loc[[0,2,4]]

0     apple
2     mango
4    grapes
dtype: object

In [27]:
mypopulationseries.loc[['Johor', 'Kedah', 'Melaka']]

Johor     300
Kedah     200
Melaka     50
dtype: int64

In [28]:
# does mypopulationseries has generated index?

mypopulationseries.iloc[0]

np.int64(300)

In [29]:
mypopulationseries.iloc[0:4]

Johor       300
Kedah       200
Kelantan    100
Melaka       50
dtype: int64

In [30]:
mypopulationseries.iloc[[0,2,4]]

Johor       300
Kelantan    100
Pahang       10
dtype: int64